@model Super_Heroes.Models.Superheroes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div>
    <h2>Superhero Details</h2>
    <hr />
    <table class="table table-hover">
        <thread>
            <tr>
                <th scope="col">Superhero Name</th>
                <th scope="col">Alter Ego</th>
                <th scope="col">Primary Ability</th>
                <th scope="col">Secondary Ability</th>
                <th scope="col">Catchphrase</th>
            </tr>
        </thread>
        <tbody>
            <tr class="table-active">
                <th scope="row">@Html.DisplayFor(model => model.superheroName)</th>
                <td>@Html.DisplayFor(model => model.alterEgo)</td>
                <td>@Html.DisplayFor(model => model.primaryAbility)</td>
                <td>@Html.DisplayFor(model => model.secondaryAbility)</td>
                <td>@Html.DisplayFor(model => model.catchphrase)</td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.superheroId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
