@model IEnumerable<Super_Heroes.Models.Superheroes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Superhero List</h2>
<br />
<p>
    @Html.ActionLink("Create New Superhero", "Create")
</p>
<table class="table table-hover">
    <thread>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.superheroName)
            </th>
            <th></th>
        </tr>
    </thread>
@foreach (var item in Model) {
    <tbody>
        <tr>
            <th scope="row">
                @Html.DisplayFor(modelItem => item.superheroName)
            </th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.superheroId }) |
                @Html.ActionLink("Details", "Details", new { id=item.superheroId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.superheroId })
            </td>
        </tr>
    </tbody>
}

</table>
